<div class="thematic-list flex justify-center mr-2 ml-2">
  <div *ngFor="let theme of themes" class="theme-item">
    <div (click)="navigateToSearch(theme.name)">
      <div class=" flex justify-center">
        <div class="theme-icon text-primary">
          <span [innerHTML]="getIconContent(theme.name)"></span>
        </div>
      </div>
      <div class="theme-details flex justify-between">
          <div class="text-primary font-bold text-[14px]">
            {{ theme.label }}
          </div>
          <div class="badge bg-secondary text-white text-[12px] font-bold flex justify-center">
            {{ theme.datasetCount }}
          </div>
      </div>
    </div>
  </div>
</div>