html,
body {
  height: 100%;
  color: var(--color-main);
}
body {
  margin: 0;
}

.container-sm {
  max-width: 640px;
}
.container-md {
  max-width: 768px;
}
.container-lg {
  max-width: 1024px;
}

html.record-page-active {
  scroll-padding-top: 220px;
}
@media only screen and (min-width: 640px) {
  html.record-page-active {
    scroll-padding-top: 80px;
  }
}

.btn-text-white {
  @apply text-white hover:text-primary-lighter;
}
.badge-btn {
  @apply transition-colors;
}
.badge-btn.active {
  @apply bg-primary;
}

.tippy-box a {
  @apply text-primary-lighter;
  text-decoration: underline;
}
.tippy-box a:hover {
  @apply text-primary-lightest;
}

.hover-bg-primary-darker, .hover-bg-primary-darkest {
  background-color: var(--color-primary);
}

.hover-bg-primary-darker:hover {
  background-color: var(--color-primary-darker);
}

.hover-bg-primary-darkest:hover {
  background-color: var(--color-primary-darkest);
}

header .decoration-primary {
  text-decoration-color: white;
}

@font-face {
  font-family: 'Etelka Text Pro Bold';
  src: url(assets/EtelkaTextProBold.otf);
}

@font-face {
  font-family: 'Etelka Text Pro';
  src: url(assets/EtelkaTextPro.otf);
}

@font-face {
  font-family: 'font_icon_select_1';
  src: url(assets/dkan-topics.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}