<header class="h-full" [style.background]="backgroundCss">
  <div class="bg-menu px-5">
    <div class="container-lg mx-auto">
      <link-menu></link-menu>
    </div>
  </div>
  <div class="bg-white px-5">
    <div class="container-title container-lg mx-auto">
      <div class="text-primary font-title text-[24px] sm:text-[32px]" [style.opacity]="expandRatio"
        [innerHTML]="'datahub.header.title.html' | translate">
      </div>
    </div>
  </div>
  
  <div class="bg-primary px-5">
    <div class="container-lg mx-auto">
      <datahub-navigation-menu class="tabs flex justify-between"
        [style.opacity]="-0.6 + expandRatio * 5"></datahub-navigation-menu>
    </div>
  </div>
  <div class="bg-secondary px-5">
    <div class="container-lg mx-auto py-8 relative z-40"
      [style.transform]="'translate(0, ' + (1 - expandRatio) * 45 + 'px)'">
      <ng-container *ngIf="displaySortBadges$ | async">
        <div class="container-lg mx-auto">
          <div class="text-white text-[24px]" [style.opacity]="expandRatio"
            [innerHTML]="'header.everyDataHdf' | translate">
          </div>
        </div>
        <gn-ui-fuzzy-search class="text-[18px]" (itemSelected)="onFuzzySearchSelection($event)"></gn-ui-fuzzy-search>
        <div class="flex h-0 py-5 gap-3" [style.opacity]="-0.6 + expandRatio * 2">
          <datahub-header-badge-button [routerLink]="ROUTE_SEARCH" *ngIf="isAuthenticated$ | async" icon="star"
            label="datahub.header.myfavorites" [toggled]="searchFacade.favoritesOnly$ | async"
            (action)="listFavorites($event)"></datahub-header-badge-button>
          <div *ngFor="let preset of searchConfig?.SEARCH_PRESET">
            <div>
              <button
                type="button"
                class="badge-btn bg-primary-opacity-50 hover-bg-primary-opacity-100"
                (click)="clearSearchAndFilterAndSort(preset)"
              >
                <span translate="">{{ preset['name'] }}</span>
              </button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</header>
